@{
    ViewData["Title"] = "Home Page";
}

<section class="py-3">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/images/hinhadmin.png" alt="..." /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">ADMIN CP - Không phận sự miễn vào !</h1>
                <p class="lead">Đây là trang admin của PizzaWeed - Cửa hàng bán Pizza ngon số 1 Việt Nam</p>
                <div class="d-flex">
                </div>
            </div>
        </div>
    </div>

    <div class="col mb-5">
        <div class="card h-100">
            
        </div>
    </div>
</section>
